:host {
  align-self: flex-start;
  padding-left: 38px;
}


.btn-container {
    width: 5em;
    height: 2em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    .btn-primary {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #4287f5;
      padding-top: 15px;
      color: #fff;
      text-decoration: none;
      font-family: sans-serif;
      letter-spacing: 1.5px;
    }
}
